<div class="row text-center ">
  <div
    class="right-nav"
    style="background: rgba(152, 214, 152, 0.246); width: 50px; height: 50px;"
  >
    <i class="fas fa-caret-left" (click)="navigatToPrevious()"></i>
  </div>

  <div *ngFor="let item of beginArray; let i = index">
    <div *ngIf="i ==index" class="rowbegin-item">
      {{i}} {{item}}
      <div *ngIf="item ==='selectPlant';let ind = index" class="row">
        <div class="col-lg-4">
          test {{ind}}
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="left-nav"
  style="background: rgba(152, 214, 152, 0.246); width: 50px; height: 50px;"
>
  <i class="fas fa-caret-right" (click)="navigatToNext()"></i>
</div>
