<div class="row text-center">
  <div class=" col-2 col-lg-2 right-nav">
    <i class="fas fa-caret-left" (click)="navigatToPrevious()"></i>
  </div>
  <div class="col-8 col-lg-8">
    <div class="row" *ngFor="let item of beginArray; let i = index">
      <div *ngIf="i==index" class="col-lg-12 begin-item">
        <div class="row text-center">
          <div class="col-12 text-center">
            {{i}} {{item}}
          </div>
        </div>

        <div *ngIf="item ==='selectPlant';let ind = index" class="row h-100">
          <div
            class="col-4 text-center col-lg-4"
            *ngFor="let plant of plants"
            (click)="addGameItem(plant)"
          >
            {{plant.PlantName}}
          </div>
        </div>

        <div
          *ngIf="item ==='selectPesticide';let ind = index"
          class="row h-100"
        >
          <div
            class="col-4 text-center col-lg-4"
            *ngFor="let pesticide of pesticides"
            (click)="addGameItem(pesticide)"
          >
            {{pesticide.PesticideName}}
          </div>
        </div>

        <div *ngIf="item ==='selectMarket';let ind = index" class="row h-100">
          <div
            class="col-4 text-center col-lg-4"
            *ngFor="let market of markets"
            (click)="addGameItem(market)"
          >
            {{market.MarketName}}
          </div>
        </div>

        <div
          *ngIf="item ==='beginSimulation';let ind = index"
          class="row h-100"
        >
          <div class="col-12 text-center col-lg-12">
            <button
              [disabled]="simulationReady"
              class="btn"
              style="background:red"
              (click)="begin()"
            >
              Begin Simulation
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2 col-lg-2 left-nav">
    <i class="fas fa-caret-right" (click)="navigatToNext()"></i>
  </div>
</div>
