.fa-caret-left,
.fa-caret-right {
  font-size: 50px !important;
  cursor: pointer;
}
.right-nav,
.left-nav {
  background: rgba(152, 214, 152, 0.246);
  width: 50px;
  height: 200px;
}
.begin-item {
  background: rgb(125, 177, 190);

  height: 200px;
}
