.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(226, 226, 226);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#sidenav {
  color: black;
}

#main {
  transition: margin-left 0.5s;
  transition: width 0.5s;
  padding: 16px;
}
.main {
  transition: margin-left 0.5s;
  transition: width 0.5s;
}
.resources {
  margin-top: 50px;
  margin-right: -70px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  float: right;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  border: 5px solid rgb(5, 5, 5);
}
