/* You can add global styles to this file, and also import other style files */
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

html,
body {
  font-family: sans-serif;
  min-height: 100%;
  height: auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}
